services:
  aitron-web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aitron-website
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      - TZ=America/Sao_Paulo
