services:
  aitron-web:
    image: aitron-website:latest
    environment:
      - TZ=America/Sao_Paulo
    networks:
      - infra-n8n-chatmega
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.aitron.rule=Host(`aitron.com.br`) || Host(`www.aitron.com.br`)"
        - "traefik.http.routers.aitron.entrypoints=websecure"
        - "traefik.http.routers.aitron.service=aitron"
        - "traefik.http.routers.aitron.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.aitron.loadbalancer.server.port=80"
        - "traefik.http.services.aitron.loadbalancer.passHostHeader=true"

networks:
  infra-n8n-chatmega:
    external: true
